body {
  background: #111;
  color: #f8f8f8;
}

canvas {
  background: #f8f8f8;
  padding: 0;
  margin: 0 auto;
  margin-bottom: 1rem;
  display: block;
}

#page-title {
  text-align: center;
}

#controls {
  display: flex;
  justify-content: center;
}

#controls button {
  margin: 5px;
  padding: 10px;
  height: 40px;
  width: 60px;
}

#probability {
  width: 60px;
}

#color-select {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#color-select input {
  height: 40px;
  width: 60px;
  margin: 5px;
}

#input {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#statistics {
  margin-top: 17px;
  margin-bottom: 19px;
}
#stats-container {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-left: 10px;
}

datalist {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  writing-mode: vertical-lr;
  width: 60px;
}

option {
  padding: 0;
}
