*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

header {
  line-height: 1.2;
  text-align: center;
  font-size: 2rem;
  padding: 15px;
}

body {
  background: #111;
  color: #f8f8f8;
  font-family: Optima, sans-serif;
}

#canvas {
  text-align: center;
  margin-bottom: 1rem;
}

canvas {
  background: #111;
}

button,
input {
  width: 75%;
  border-radius: 16px;
  border: none;
  background-color: #262626;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  outline: none;
}

button {
  padding: 5px 15px 5px 15px;
}

input[type="color"] {
  -webkit-appearance: none;
  appearance: none;
  border-radius: 15%;
  width: 40px;
  height: 30px;
}
input[type="color"]::-webkit-color-swatch-wrapper {
  padding: 0;
}
input[type="color"]::-webkit-color-swatch {
  border: none;
}

#controls {
  display: flex;
  flex-direction: column;
  max-width: 75%;
  margin-left: auto;
  margin-right: auto;
  gap: 1vh;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.input-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
